.root {
  @apply relative min-h-full;
}
.root:hover .productBg:before {
  transform: scale(0.99);
}
.root:hover .productImage {
  transform: scale(1.15);
}
.root:nth-child(6n + 1) .productBg {
  @apply bg-violet;
}
.root:nth-child(6n + 3) .productBg {
  @apply bg-pink;
}
.root:nth-child(6n + 5) .productBg {
  @apply bg-blue;
}
.root:nth-child(6n + 6) .productBg {
  @apply bg-cyan;
}

.productImage {
  @apply transition-transform duration-500 block;
}

.productBg {
  @apply absolute inset-0 z-0;
  background-color: #212529;
}
.productBg::before {
  @apply transition-transform duration-500 block w-full h-full bg-repeat-space;
  content: '';
  background-image: url('/product-pattern-bg.svg');
}

.productTag {
  @apply absolute top-0 left-0 z-20;
}
.productTag > * {
  font-size: 2rem;
  letter-spacing: 0.4px;
}

.productTitle {
  @apply font-bold;
  line-height: 2.2em;
}
.productTitle span {
  @apply py-4 px-6 bg-primary;
  box-decoration-break: clone;
}

.productPrice {
  @apply bg-primary pb-4 pt-2 px-6 font-semibold text-sm;
  letter-spacing: 0.4px;
}
